@charset "utf-8";
/* CSS Document */
body{width: 100%;color: #333;font:12px/20px "Microsoft YaHei","微软雅黑","Arial Narrow",HELVETICA;}
*{margin: 0;padding: 0;}
html, body, div, ul, li, img, input, h1, h2, h3, h4, h5, h6, strong, p, dl, dt, dd{margin: 0;padding: 0; font-weight: normal;}
a:link{text-decoration: none;outline: none;}
ul,ol{list-style: none;}
img{border: 0;vertical-align: middle;}
.clear{clear: both;}
img{margin:0;padding:0;border:0;vertical-align: middle;}
b,strong{font-weight: bold;}
table{border-collapse: collapse;border-spacing: 0;}
li{list-style: none outside none;}
/*链接*/
a{text-decoration:none;color:#000;background: transparent;outline:none}
a:visited{}
a:focus{outline:none;}
/*标题*/
h1{font-size: 1.3em;margin: 0;}
h2{font-size: 1.2em;margin: 0;}
h3{font-size: 1.17em;margin: 0;}
em,i{font-style: normal;}
/*分割线*/
.line{width: 100%;height: 10px;background: #dcdcdc;overflow: hidden;clear: both;}
.clear{clear: both;}
form{margin: 0;}
button,input,select,textarea{font-size: 100%;margin: 0;vertical-align: middle;}
button,select{text-transform: none;}
input{background-color: #FFFFFF;line-height: normal; outline: none; border: none;}

.content
{
	text-align:center;
	margin:6% auto;
}

.content h1,.content h2
{
	display:block;
	line-height:45px;
	font-size:17px;
}

.content h2
{
	font-size:20px;
	height:45px;
	color:#c33a39;
	font-weight:700;
}

.content h3,.content h1
{
	line-height:30px;
	color:#3381e3;
}

.btn
{
	display:block;
	width:200px;
	height:50px;
	line-height:50px;
	font-size:22px;
	border-radius:15px;
	background:#ff6888;
	color:#fff;
	box-shadow:0 3px 20px 3px #c1bfbf;
	margin:20px auto;
}